main {

    display: flex;
    background-color: black;
    height: 500px;
    align-items: center;

}

div {
    background-color: lightblue;
}

#arriba {
    align-self: flex-start;
}

section {
    color: white;
}

#derecha {
    margin-left: auto;
}